.slide-pane {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 100px;
  height: 100%;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
  transition: transform 0.5s;
  will-change: transform;
}
.slide-pane:focus {
  outline-style: none;
}
.slide-pane_from_right {
  margin-left: auto;
  transform: translateX(100%);
}
.slide-pane_from_right.content-after-open {
  transform: translateX(0%);
}
.slide-pane_from_right.content-before-close {
  transform: translateX(100%);
}
.slide-pane_from_left {
  margin-right: auto;
  transform: translateX(-100%);
}
.slide-pane_from_left.content-after-open {
  transform: translateX(0%);
}
.slide-pane_from_left.content-before-close {
  transform: translateX(-100%);
}
.slide-pane_from_bottom {
  height: 90vh;
  transform: translateY(100%);
}
.slide-pane_from_bottom.content-after-open {
  transform: translateY(0%);
}
.slide-pane_from_bottom.content-before-close {
  transform: translateY(100%);
}
.slide-pane__overlay {
  position: fixed;
  top: 60px;
  left: 60px;
	width: 0px;
	bottom: 0px;
	z-index: 10;
  background-color: rgba(0,0,0,0);
}

.bottomPanel{
  position: fixed;
	top: auto;
  left: 60px;
	right: 0px;
	width: auto;
	height: 250px;
	z-index: 15;
  background-color: rgba(0,0,0,0);
}

.slide-pane__overlay.overlay-after-open {
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s;
}
.slide-pane__overlay.overlay-before-close {
  background-color: rgba(0,0,0,0);
}
.slide-pane__header {
  display: flex;
	flex-direction: row;
  align-items: center;
  background: #F4F4F4;
  height: 0px;
  /* border-bottom: 1px solid rgba(0,0,0,0.05); */
	justify-content: center;
	align-items: center;
}
.slide-pane__title-wrapper {
  margin-left: 12px;
  min-width: 0;
}
.slide-pane .slide-pane__title {
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  margin-top: 10px;
  padding: 0;
}
.slide-pane__close {
  padding: 16px;
  opacity: 0.7;
  cursor: pointer;
}
.slide-pane__close svg {
  width: 12px;
  padding: 0;
}
.slide-pane__content {
  position: relative;
  overflow-y: auto;
  flex: 1 1 auto;
}
.slide-pane__subtitle {
  font-size: 12px;
}
